# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Logs
*.log

# Temporary files
*.swp
*.lock
*.tmp
*.orig

# User-specific files
*.xcuserdatad
*.moved-aside
*.orig
*.backup
*.swp
*.dat
*.xcuserdata

# .env or secrets
.env
*.key
*.pem
*.cer